@mixin formatForm {
    box-shadow: 1px 1px 1px black;
    border-radius: 10%;
}

.FriendsForm {
    width: 100%;
    border: 1px solid purple;

    input {
        border: 1px solid black;
        margin: 1%;
        @include formatForm();
    }

    button {
        border: 1px solid black;
        @include formatForm();
    }
}